@import "vars"
@import "fonts"
@import "main.scss"
@import "libs"

/*==========  user style  ==========*/
a
	transition: .3s
	&:link
		outline: none 0
	&:visited
		outline: none 0
	&:hover
		text-decoration: none
	&:active
		outline: none 0
.ttu
	text-transform: uppercase !important
.t-a-c
	text-align: center
ul
	margin: 0
	padding: 0
	list-style: none

body
	font-family: 'Montserrat', sans-serif
.btn
	border-radius: 5px
	background-color: $accent
	border: none
	outline: none 0
	padding: 14px 18px
	color: #fff
	font-weight: 500
	display: inline-block
	&:hover
		background-color: #000
		color: #fff
	&_darken
		background-color: #000
.list

	&_line
		display: flex

.page-header
	padding: 30px 0

.bottom-header
	padding-top: 25px

.social
	justify-content: flex-end
	&__item
		&:not(:last-child)
			margin-right: 10px
	&__link
		font-size: 20px
		color: #0aceb7
		display: inline-block
		padding: 5px
		&:hover
			transform: scale(1.3)

.navigation

	&__item
		&:not(:last-child)
			margin-right: 25px
	&__link
		text-transform: uppercase
		font-weight: 500
		color: #000
		letter-spacing: 1px
		&:hover
			color: $accent
		&.active
			color: $accent

.order__wrap
	text-align: right

.slider
	padding: 20px 0 50px
	&__container
		

	&__item
		position: relative
	&__img
		img
			width: 100%
	&__content
		position: absolute
		top: 50%
		left: 7%
		transform: translateY(-50%)
	
	&__header
		text-transform: capitalize
		font-weight: 300
		font-size: 40px
		line-height: 1.2
		margin-bottom: 40px
		+media-breakpoint-down(md)
			font-size: 25px

	.slick-next
		right: 40px
		bottom: 30px
		top: auto
		&:before
			font-family: "FontAwesome"
			content: '\f0da'
			color: #000
			font-size: 32px
		&:hover:before
			color: $accent
	.slick-prev
		right: 80px
		bottom: 30px
		top: auto
		left: auto
		z-index: 2
		&:before
			font-family: "FontAwesome"
			content: '\f0d9'
			color: #000
			font-size: 32px
		&:hover:before
			color: $accent

.color-reverse
	.slider__header
		color: #fff
	.btn
		background-color: #fff
		color: $accent
		&:hover
			background-color: #000
			color: #fff



.page-section
	padding: 50px 0

.category
 padding: 20px 0
	&__item
		text-align: center
		+media-breakpoint-down(md)
			margin-bottom: 20px
		&:hover .category__header
			color: $accent
	&__img
		width: 100px
		height: 100px
		margin: 0 auto
		border-radius: 50%
		box-shadow: 5px 5px 7px rgba(0,0,0,0.1)
		padding: 15px
		transition: .5s
		+media-breakpoint-down(md)
			width: 150px
			height: 150px
		img
			width: 100%
		&:hover
			box-shadow: 0 0 10px rgba(10,206,183,0.4)
	&__header
		text-transform: uppercase
		font-weight: 500
		font-size: 13px
		margin-top: 25px
		color: #383838
		transition: .3s
		&:hover
			color: $accent

.product

	&__item
		overflow: hidden
		margin: 0 15px
	&__img
		border: 1px solid #f6f6f6
		padding: 10px
		transition: .3s
		&:hover img
			transform: scale(1.05)
		img
			transition: .3s
			width: 100%
	&__content
		padding: 10px 0
	&__header
		font-weight: 300
		text-transform: capitalize
		font-size: 15px
		text-overflow: ellipsis
		white-space: nowrap
		overflow: hidden
		color: #383838
		transition: .3s
		&:hover
			color: $accent
	&__price
		font-weight: 700
		font-size: 18px

	&-carousel,
	&-carousel-2,
	&-carousel-lider
		.slick-next
			&:before
				font-family: "FontAwesome"
				content: '\f0da'
				color: #000
				font-size: 32px
			&:hover:before
				color: $accent
		.slick-prev
			&:before
				font-family: "FontAwesome"
				content: '\f0d9'
				color: #000
				font-size: 32px
			&:hover:before
				color: $accent

.section__title
	text-align: center
	text-transform: uppercase
	font-size: 22px
	letter-spacing: 1px
	font-weight: 400
	margin-bottom: 25px

.banner
	padding: 60px 0 30px
	+media-breakpoint-down(md)
		padding: 0 0 30px
	.btn
		+media-breakpoint-down(md)
			padding: 10px 10px
			font-size: 14px
	&__container
		position: relative
	&_img
		img
			width: 100%
		&:before
			position: absolute
			content: ''
			top: 0
			bottom: 0
			left: 0
			right: 0
			background-color: rgba($accent,.3)
			opacity: 0
			transition: .3s

	&__content
		position: absolute
		top: 50%
		transform: translateY(-50%)
		left: 20px
		padding: 5px

	&__title
		font-weight: 500
		margin-bottom: 15px
		font-size: 28px
		line-height: 1.3
		text-transform: capitalize
		+media-breakpoint-down(lg)
			font-size: 22px
		+media-breakpoint-down(md)
			font-size: 15px
		
	&_wrapper_small
		display: flex

	&_hover

		&_style
			text-transform: uppercase
			text-align: center
			font-size: 22px
			font-weight: 700
			color: #000
			+media-breakpoint-down(lg)
				font-size: 17px
			+media-breakpoint-down(md)
				font-size: 14px
		&_position
			position: absolute
			bottom: 0
			top: 0
			left: 50%
			transform: translateX(-50%)
			white-space: nowrap
			display: flex
			flex-direction: column
			justify-content: space-between
		&_title
			color: rgba($accent,.4)
			text-transform: uppercase
			font-size: 80px
			font-weight: 900
			text-align: center
			+media-breakpoint-down(lg)
				font-size: 65px
			+media-breakpoint-down(md)
				font-size: 46px
	&_hover:hover .banner_img:before
		opacity: 1
	&_small
		&:first-child
			margin-right: 30px
			+media-breakpoint-down(md)
				margin-right: 15px

	&_middle
		margin-top: 30px
		+media-breakpoint-down(md)
			margin-top: 15px
	&_big_position
		position: absolute
		bottom: 20px
		left: 50%
		transform: translateX(-50%)
		.banner_hover_style
			font-size: 40px
			+media-breakpoint-down(lg)
				font-size: 32px
			+media-breakpoint-down(md)
				font-size: 24px
		.banner_hover_title
			font-size: 120px
			+media-breakpoint-down(md)
				font-size: 74px
.fix-col_banner
	flex: 0 0 57.33333%
	max-width: 57.33333%

.best-product
	.product__item
		margin: 0
	.product__img
		padding: 2px

.theme_black
	color: #000
	transition: .3s

.theme_white
	color: #ffffff
	transition: .3s

.mini-banner
	&__container
		position: relative
		&:hover .theme_black
			color: $accent
		&:hover .theme_white
			color: #000

	&_content
		position: absolute
		top: 50%
		transform: translateY(-50%)
		padding: 20px
		padding-left: 40px
		+media-breakpoint-down(md)
			padding-left: 20px
			padding-right: 10px

	&_title
		text-transform: capitalize
		font-size: 22px
		font-weight: 400
		margin-bottom: 0
		+media-breakpoint-down(lg)
			font-size: 18px
		+media-breakpoint-down(md)
			font-size: 14px
	&_text
		margin-bottom: 0
		+media-breakpoint-down(md)
			font-size: 13px
	&_img
		img
			width: 100%
	
.brand
	+media-breakpoint-down(md)
		padding: 40px 0 0
	&_img
		transition: .3s
		img
			width: 100%
		&:hover
			opacity: .7


.subscribe
	+media-breakpoint-down(md)
		padding: 0 0 40px
	&_wrap
		background-color: $accent
		padding: 20px 70px
	&_title
		font-weight: 500
		font-size: 18px
		color: #fff
		+media-breakpoint-down(lg)
			font-size: 16px
		+media-breakpoint-down(md)
			font-size: 13px

	&-form
		display: flex
		align-items: center
		.input-form
			border: 1px solid #f6f6f6
			background: #f6f6f6
			border-right: none
			text-transform: capitalize
			border-radius: 5px
			margin-right: -10px
			font-size: 14px
			color: #242424
			padding: 14px 10px
			width: 100%

.page-footer
	padding: 20px 0 40px
	color: #383838
	.footer_title
		font-weight: 400
		color: #000
		margin-bottom: 20px
	.about-description
		font-size: 13px
	.footer-nav-list
		li
			margin-bottom: 10px
			font-size: 13px
			a
				color: #383838
				&:hover
					color: $accent

	.address
		white-space: nowrap
		li
			font-size: 13px
			margin-bottom: 7px
		a
			font-size: 13px
			font-family: 'Montserrat', sans-serif
			color: #383838
			&:hover
				color: $accent
		.fa
			color: $accent
			margin-right: 10px
			font-size: 16px

.copyright
	padding-bottom: 30px
	&_container
		background-color: #f8f8f8
		padding: 20px
		p
			color: #383838
			text-align: center
			font-size: 14px
			margin-bottom: 0

.top-menu
	+media-breakpoint-down(md)
		position: fixed
		background-color: #fff
		height: 100vh
		z-index: 99
		top: 0
		left: -100%
		width: 600px
		transition: .4s
	&.active
		left: 0
	.navigation
		flex-direction: column
		padding-top: 50px
		&__item
			display: block
			margin-bottom: 15px
			border-bottom: 2px solid rgba(0,0,0,0.15)
			width: 100%
			text-align: center
			padding: 0 20px
		&__link
			display: block
			font-size: 22px
			font-weight: 300

.mobile-menu
	&__btn
		background: none
		border: none
		outline: 0 none
		font-size: 23px
		font-weight: 300
		font-family: 'Montserrat', sans-serif
		cursor: pointer
	&__close
		+media-breakpoint-down(md)
			position: fixed
			right: -100%
			width: calc(100vw - 600px)
			top: 0
			bottom: 0
			background-color: rgba(#000,.5)
			z-index: 98
			display: flex
			align-items: center
			justify-content: center
			color: #fff
			font-size: 100px
			cursor: pointer
			transition: .41s
		&.active
			right: 0
/*==========  user style  ==========*/

@import "media" // Always at the end